footer {
    position: relative;
    background-image:
        radial-gradient(circle at 70% 50%, rgba(9, 14, 17, 0.2) 31%, 41%, #090e1185 100%),
        linear-gradient(to bottom, #090e11 0%, #090e1100 22%),;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-flow: column nowrap;
    padding: 160px clamp(30px, 6vw, 160px);
    padding-bottom: 90px;
}

#footer-background {
   position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 600px) {
    footer .rick-and-morty-logo img{
        width: clamp(200px, 65vw, 90%);
    }   
    
    footer .rick-and-morty-logo {
        width: clamp(200px, 65vw, 90%);
    }   
}

.footer-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 64px;
    width: clamp(300px, 60vw, 2000px);
}

#rick-and-morty-logo {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.footer-temp-colab-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 80px;
}

.footer-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    width: auto;
}

.footer-group h3 {
    padding-bottom: 12px;
    border-bottom: 2px solid var(--light-white-color);
}

#footer-lista-temporadas {
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    gap: 24px;
}

#footer-lista-temporadas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    list-style-position: inside;
    list-style: none;
    gap: 32px, clamp(16px, 2vw, 90px);
}

#footer-lista-temporadas li {
    min-width: fit-content;
}

#footer-lista-temporadas a {
    display: block;
    padding: 16px 16px;
    border-radius: 50px;
    background-color: #1e414a;
    transition: all .5s ease;
    text-wrap: nowrap;
    width: 100%;
    font-size: clamp(16px, 1.2vw, 3rem);
}

#footer-lista-temporadas a:hover {
    background-color: var(--blue-btn);
    transform: scale(1.1);
    box-shadow: 3px 3px 5px #2b01015d;
    font-weight: 600;
    cursor: pointer;
}

.footer-group a {
    color: var(--light-white-color);
    text-decoration: none;
}

.footer-colaboradores {
    display: flex;
    flex-flow: column nowrap;
    gap: 60px;
}

footer .icon {
    width: clamp(58px, 8vw, 100px);
    height: clamp(58px, 8vw, 100px);
}

.social-icons {
    display: flex;
    gap: 5px;
}

@media only screen and (min-width: 1024px) {
    .footer-colaboradores {
        flex-flow: row;
    }
}

