#preloader-container {
    position: relative;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.851);
}

#preloader-video {
    width: 100%;
}

#preloader-loading-status {
    position: absolute;

    /* Alinha Verticalmente */
    top: 50%;
    transform: translateY(-50%);

    right: 60px;
}