@font-face {
    font-family: 'RickAndMortyFont';
    src: url(../fonts/get_schwifty.ttf);
}

:root {
    --font-rick-morty: "RickAndMortyFont";
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font-rick-morty);
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

